// base Color
$white: #FFFFFF;
$default-text: #555555;
$shadow: #999999;
$mainColor: #1AAD19;

$dialogue-box: #b2e281;


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:$white; color:$default-text; font-size:14px; font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:$default-text; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px "Arial","Microsoft YaHei","黑体","宋体",sans-serif; outline: none }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.fl { float:left}
.fr {float:right}
.al {text-align:left}
.ac {text-align:center}
.ar {text-align:right}
.hide {display:none}

/* base root */
#root {
  font-size: 16px;
  height: 100vh;
  background: url('../../images/bg.jpg') no-repeat center center;
  background-size: cover;
}

// login box
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 380px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 30px;
  box-sizing: border-box;
  background-color: $white;
  box-shadow: 0 2px 10px $shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h3 {
    font-size: 20px;
    padding: 6px 0;
  }
  &__title {
    text-align: center;
  }
  &__sub-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  input[type="text"] {
    width: 100%;
    height: 40px;
  }
  &__head-box {
    display: flex;
    // flex: ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #EEEEEE;
    li {
      width: 40px;
      height: 40px;
      margin-bottom: 1px;
      border: 2px solid transparent;
      border-radius: 4px;
      overflow: hidden;
      &.activity {
        border-color: $mainColor;
        box-shadow: 0 1px 2px 0px $shadow;
      }
      img {
        width: 100%;
      }
    }
  }
  &__btn {
    background-color: $mainColor;
    width: 100%;
    border: none;
    color: $white;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 1px 2px 0px $shadow;
    &:active {
      background-color: rgb(19, 148, 19);
    }
  }
}

$side-width: 240px;
// chat-room
.chat-room {
  height: 100vh;
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
  background: #EEEEEE;

  // sider bar
  .side-box {
    position: relative;
    width: $side-width;
    float: left;
    height: 100%;
    background-color: green;
  }

  // chat room context
  .chat-panel {
    height: 100vh;
    margin-left: $side-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    &__title {
      height: 50px;
      line-height: 50px;
      text-align: center;
      padding: 0 20px;
      h4 {
        height: 100%;
        border-bottom: 1px solid #CCCCCC;
      }
    }
    &__context {
      flex: 1;
      padding: 0 20px;
      overflow-x: hidden;
      overflow-y: auto;
      .message,
      .system-message {
        padding: 10px 0;
      }
      // system message
      .system-message {
        font-size: 12px;
        text-align: center;
        color: #b2b2b2;
      }

      .message {
        display: flex;
        flex-direction: row;
        .head-box {
          width: 40px;
          height: 40px;
          border-radius: 4px;
          box-shadow: 0 1px 2px 0 rgba(153, 153, 153, 0.6);
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .msg-box {
          position: relative;
          z-index: 1;
          flex: 1;
          margin: 0 10px;
          span {
            max-width: 70%;
            display: inline-block;
            min-height: 40px;
            padding: 10px 16px;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: $dialogue-box;
            box-shadow: 0 1px 2px 0 rgba(153, 153, 153, 0.6);
            word-wrap: break-word;
            word-break: break-all;
            text-align: left;
          }
        }
        &.someone-message {
          .msg-box {
            &::before {
              position: absolute;
              left: -12px;
              top: 14px;
              content: "";
              border: 6px solid transparent;
              border-right-color: $dialogue-box;
            }
          }
        }
        &.myself-message {
          .msg-box {
            text-align: right;
            &::before {
              position: absolute;
              right: -12px;
              top: 14px;
              content: "";
              border: 6px solid transparent;
              border-left-color: $dialogue-box;
            }
          }
        }
      }
    }

    &__input {
      border-top: 1px solid #CCCCCC;
      height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__property-group {
        height: 40px;
        background-color: pink;
      }
      &__keyword-box {
        flex: 1;
        // overflow-y: auto;
        // overflow-x: hidden;
        overflow: hidden;
        textarea {
          width: 100%;
          height: 100%;
          resize: none;
          border: none;
          padding: 10px;
          box-sizing: border-box;
        }
      }
      &__send-box {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        text-align: right;
        .tips {
          display: inline-block;
          color: #888;
          font-size: 12px;
          margin-left: 10px;
          margin-right: 7px;
        }
        .btn {
          display: inline-block;
          border: 1px solid #c1c1c1;
          text-decoration: none;
          background-color: #FFFFFF;
          color: #222;
          border-radius: 4px;
          padding: 3px 30px;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            background-color: #d8d8d8;
          }
        }
      }
    }
  }
}
