@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
  background: #FFFFFF;
  color: #555555;
  font-size: 14px;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif; }

td, th, caption {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

a {
  color: #555555;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  border: none; }

ol, ul, li {
  list-style: none; }

input, textarea, select, button {
  font: 14px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  outline: none; }

table {
  border-collapse: collapse; }

html {
  overflow-y: scroll; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

.al {
  text-align: left; }

.ac {
  text-align: center; }

.ar {
  text-align: right; }

.hide {
  display: none; }

/* base root */
#root {
  font-size: 16px;
  height: 100vh;
  background: url("../../images/bg.jpg") no-repeat center center;
  background-size: cover; }

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 380px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px #999999;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .login-box h3 {
    font-size: 20px;
    padding: 6px 0; }
  .login-box__title {
    text-align: center; }
  .login-box__sub-title {
    font-size: 16px;
    margin-bottom: 10px; }
  .login-box input[type="text"] {
    width: 100%;
    height: 40px; }
  .login-box__head-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #EEEEEE; }
    .login-box__head-box li {
      width: 40px;
      height: 40px;
      margin-bottom: 1px;
      border: 2px solid transparent;
      border-radius: 4px;
      overflow: hidden; }
      .login-box__head-box li.activity {
        border-color: #1AAD19;
        box-shadow: 0 1px 2px 0px #999999; }
      .login-box__head-box li img {
        width: 100%; }
  .login-box__btn {
    background-color: #1AAD19;
    width: 100%;
    border: none;
    color: #FFFFFF;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 1px 2px 0px #999999; }
    .login-box__btn:active {
      background-color: #139413; }

.chat-room {
  height: 100vh;
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
  background: #EEEEEE; }
  .chat-room .side-box {
    position: relative;
    width: 240px;
    float: left;
    height: 100%;
    background-color: green; }
  .chat-room .chat-panel {
    height: 100vh;
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }
    .chat-room .chat-panel__title {
      height: 50px;
      line-height: 50px;
      text-align: center;
      padding: 0 20px; }
      .chat-room .chat-panel__title h4 {
        height: 100%;
        border-bottom: 1px solid #CCCCCC; }
    .chat-room .chat-panel__context {
      flex: 1;
      padding: 0 20px;
      overflow-x: hidden;
      overflow-y: auto; }
      .chat-room .chat-panel__context .message,
      .chat-room .chat-panel__context .system-message {
        padding: 10px 0; }
      .chat-room .chat-panel__context .system-message {
        font-size: 12px;
        text-align: center;
        color: #b2b2b2; }
      .chat-room .chat-panel__context .message {
        display: flex;
        flex-direction: row; }
        .chat-room .chat-panel__context .message .head-box {
          width: 40px;
          height: 40px;
          border-radius: 4px;
          overflow: hidden; }
          .chat-room .chat-panel__context .message .head-box img {
            width: 100%; }
        .chat-room .chat-panel__context .message .msg-box {
          position: relative;
          z-index: 1;
          flex: 1;
          margin: 0 10px; }
          .chat-room .chat-panel__context .message .msg-box span {
            max-width: 70%;
            display: inline-block;
            min-height: 40px;
            padding: 10px 16px;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: greenyellow;
            box-shadow: 0 1px 2px 0 rgba(153, 153, 153, 0.6);
            word-wrap: break-word;
            word-break: break-all;
            text-align: left; }
        .chat-room .chat-panel__context .message.someone-message .msg-box::before {
          position: absolute;
          left: -12px;
          top: 14px;
          content: "";
          border: 6px solid transparent;
          border-right-color: greenyellow; }
        .chat-room .chat-panel__context .message.myself-message .msg-box {
          text-align: right; }
          .chat-room .chat-panel__context .message.myself-message .msg-box::before {
            position: absolute;
            right: -12px;
            top: 14px;
            content: "";
            border: 6px solid transparent;
            border-left-color: greenyellow; }
    .chat-room .chat-panel__input {
      border-top: 1px solid #CCCCCC;
      height: 180px; }
